<h5 class="text-center"><%= @curriculum.title %></h5>
<div class="card main-card">
  <table class="table table-striped">
    <thead class="card-header">
      <tr>
        <th>Title</th>
        <th>Program Model</th>
        <th>Activities</th>
        <th>Duration</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody class="card-body">
      <% @curriculum.lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.title %></td>
        <td><%= @curriculum.program_model %></td>
        <td>
          <% lesson.activities.each do |activity| %>
            <div><%= activity.name %></div>
          <% end %>
        </td>
        <td><%= lesson.duration %></td>
        <td><%= lesson.content %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
