<div>
  <p>
    <strong>Done on:</strong>
    <%= session.done_on.strftime("%F %H:%M %p") %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= session.section.name %>
  </p>

  <p>
    <strong>Lesson:</strong>
    <%= session.lesson.title %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= session.lesson.duration %>
  </p>

  <p>
    <strong>Participants present:</strong>
    <%= link_to session.present_participants.size, site_section_session_attendances_path(@site, @section, @session) %>
  </p>
</div>
