<%= form_for([@site, @section, @section_participant]) do |form| %>
  <% if section_participant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(section_participant.errors.count, "error") %> prohibited this section_participant from being saved:</h2>

      <ul>
        <% section_participant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p class="fw-bold">Check the participants you want to enroll to this section</p>
    <%= form.collection_check_boxes :participant_id, @participants, :id, :name do |b| %>
      <div class="form-check">
        <%= b.check_box class: "form-check-input" %>
        <%= b.label class: "form-check-label" %>
      </div>
    <% end %>
  </div>

  <div class="d-flex flex-row-reverse">
    <%= submit_tag "Enroll Participants", class: 'btn btn-success' %>
  </div>
<% end %>
