<%= render partial: "sections/header", locals: {site: @site, section: @section } %>

<main class="mb-5">
  <p style="color: green"><%= notice %></p>
  <div class="card">
    <div class="card-header">
      <% content_for :title, "Section participants" %>
      <h4>Participants Enrolled In Section</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Attendance</th>
            <th>Demographics Survey</th>
          </tr>
        </thead>
        <tbody>
          <% @section_participants.each do |sp| %>
            <tr>
              <td><%= link_to sp.participant.name, participant_path(sp.participant) %></td>
              <td><%= sp.participant.category %></td>
              <td><%= link_to sp.attendance_str, site_section_section_participant_path(@site, @section, sp) %></td>
              <td><%= sp.demographics_response ? (link_to raw(sp.demographics_label), edit_site_section_section_participant_section_participant_response_path(@site, @section, sp, sp.section_participant_response)) : (link_to 'Enter response', new_site_section_section_participant_section_participant_response_path(@site, @section, sp)) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex flex-row-reverse">
        <%= link_to "Enroll Participants", edit_site_section_path(@site, @section, enrollment: true), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</main>
