<%= render partial: "sections/header", locals: {site: @site, section: @section } %>

<main class="mb-5">
  <p style="color: green"><%= notice %></p>
  <div class="card main-card">
    <div class="card-header">
      <h4>Attendance Log For <strong><%= @section_participant.participant.name %></strong></h4>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Section</th>
            <th>Session</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% @section_participant.sitting_attendances.each do |attendance| %>
          <tr>
            <td><%= @section.name %></td>
            <td><%= attendance.sitting_lesson.sitting.name %></td>
            <td><%= attendance.sitting_lesson.sitting.done_on.strftime("%F %H:%M %p") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <p>Progress: <strong><%= "#{@section_participant.progress}%" %></strong></p>
    </div>
  </div>
</main>
