<div>
  <p>
    <strong>Name:</strong>
    <%= @participant.name %>
  </p>

  <p>
    <strong>Study:</strong>
    <%= @participant.study_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @participant.category %>
  </p>

  <p>
    <strong>Sites:</strong>
    <% @participant.sites.each do |site| %>
      <span class="btn btn-outline-info"><%= link_to site.name, site, class: "blank-link" %> </span>
    <% end %>
    <% if policy(@participant).enroll? %>
      <%= link_to "Enroll in new site", enroll_participant_path(@participant), class: "btn btn-primary" %>
    <% end %>
  </p>
</div>
