<div class="participant row border-bottom pb-2 mb-2"
     data-controller="autocomplete" data-autocomplete-url-value="<%= autocomplete_participants_path %>">
  <div class="col-lg-5">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", "data-autocomplete-target": 'input' %>
    <%= form.hidden_field :id, "data-autocomplete-target": 'results', class: 'autocomplete' %>
  </div>

  <div class="col-lg-5">
    <%= form.label :category, class: "form-label" %>
    <%= form.select :category, PARTICIPANT_TYPES, {}, { class: "form-select" } %>
  </div>

  <div class="col-lg-2 d-flex align-items-end">
    <button class="btn btn-danger" type="button" data-action="participants#remove">Remove participant</button>
    <%= form.hidden_field :_destroy %>
  </div>
</div>
