<div class="mb-3">
  <% content_for :title, "New participants" %>
  <h4 class="text-center">New Participants</h4>

  <%= form_with(url: bulk_create_participants_path, method: :post, data: { controller: 'participants' }) do |form| %>
    <%= form.hidden_field :site_id, value: params[:site_id] if params[:site_id].present? %>
    <%= fields_for 'participants[]', Participant.new do |participant_fields| %>
      <%= render "participant_form", form: participant_fields %>
      <template>
        <%= render "participant_form", form: participant_fields %>
      </template>
    <% end %>

    <div class="participants">
      <button data-action="click->participants#add" class="btn btn-primary">Add participant</button>
    </div>

    <div class="d-flex flex-row-reverse m-1">
      <%= form.submit 'Save participants', class: 'btn btn-success' %>
    </div>

    <div class="row">
      <h5 class="text-center">Potential Duplicates</h5>
      <div id="autocomplete-results"></div>
    </div>
  <% end %>
</div>
