<div class="row">
  <p style="color: green"><%= notice %></p>
  <h4 class="text-center"><%= @participant.name %></h4>

  <div class="card m-1">
    <div class="card-header">
      <h4>Participant Details</h4>
    </div>

    <div class="card-body">
      <%= render @participant %>
    </div>

    <div class="mb-1 text-center">
      <%= link_to "Edit this participant", edit_participant_path(@participant), class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="card m-1">
    <div class="card-header">
      <h4>Demographic Info</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Field</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <% response = @participant.demographics_response %>
          <% @participant.demographics_questionnaire.questions.each do |question| %>
          <tr>
            <td><%= question.text %></td>
            <td><%= question.question_answer(response) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-center mb-2">
        <%= link_to "Update Demographics", new_questionnaire_response_path(@participant.demographics_questionnaire, participant_id: @participant.id), class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="card m-1">
    <div class="card-header">
      <h4>Sections Enrolled In</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Site</th>
            <th>Name</th>
            <th>Completed</th>
            <th>Attendance</th>
          </tr>
        </thead>
        <tbody>
          <% @participant.sections.each do |section| %>
          <tr>
            <td><%= link_to section.site.name, site_path(section.site) %></td>
            <td><%= link_to section.name, site_sections_path(section.site, section) %></td>
            <td><%= section.completed ? "Yes" : "No" %></td>
            <td><%= link_to @participant.attendance_str(section), site_section_section_participant_path(section.site, section, @participant.section_participant(section)) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
