<%= form_with(model: @user) do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user.new_record? %>
  <% password = SecureRandom.hex(12) %>
    <%= form.hidden_field :password, value: password %>
    <%= form.hidden_field :password_confirmation, value: password %>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label fw-bold" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Please enter the name of the user" %>
  </div>

  <div class="mb-3">
    <%= form.label :email_address, class: "form-label fw-bold"%>
    <%= form.text_field :email_address, class: "form-control", placeholder: "Please enter the email of the user" %>
  </div>

  <div class="mb-3">
    <%= form.label :user_roles, class: "form-label fw-bold" %>
    <%= form.collection_check_boxes(:role_ids, Role.all, :id, :name) do |b| %>
      <div class="form-check">
        <%= b.check_box(class: "form-check-input") %>
        <%= b.label(class: "form-check-label") %>
      </div>
    <% end %>
  </div>

  <% unless user.admin? %>
    <div class="mb-3">
      <%= form.label :user_sites, class: "form-label fw-bold" %>
      <%= form.collection_check_boxes(:site_ids, Site.all, :id, :name) do |b| %>
        <div class="form-check">
          <%= b.check_box(class: "form-check-input") %>
          <%= b.label(class: "form-check-label") %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="d-flex flex-row-reverse">
    <%= form.submit class: 'btn btn-success'%>
  </div>
<% end %>
