<%= form_for([@site, @section]) do |form| %>
  <% if @section.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
        <% @section.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" unless @section.new_record?  %>
    <%= form.text_field :name, class: "form-control" unless @section.new_record? %>
  </div>

  <div class="mb-3">
    <%= form.label :start_date, class: "form-label" %>
    <%= form.date_field :start_date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :end_date, class: "form-label" %>
    <%= form.date_field :end_date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :curriculum_id, class: "form-label" %>
    <%= form.collection_select :curriculum_id, @curriculums, :id, :title, { prompt: true }, { class: "form-select" } %>
  </div>

  <div class="mb-3 form-check">
    <%= form.check_box :reported, class: "form-check-input" %>
    <%= form.label :reported, "Include in export reports", class: "form-check-label" %>
  </div>

  <% unless @section.new_record? %>
    <div class="mb-3 form-check">
      <%= form.check_box :completed, class: "form-check-input" %>
      <%= form.label :completed, "Entry Completed", class: "form-check-label" %>
    </div>
  <% end %>

  <div class="d-flex flex-row-reverse mt-1">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
