<div class="card main-card">
  <div class="row ms-2 mt-2 mb-2">
    <span class="col-4 fw-semibold">Site Name</span>
    <span class="col-8 fw-bold"><%= link_to @site.name, site_sections_path(@site) %></span>
  </div>

  <div class="row ms-2 mb-2">
    <span class="col-4 fw-semibold">Section Name</span>
    <span class="col-8 fw-bold"><%= link_to @section.name, site_section_path(@site, @section) %></span>
  </div>

  <div class="row ms-2 mb-2">
    <span class="col-4 fw-semibold">Curriculum</span>
    <span class="col-8 fw-bold"><%= link_to @section.curriculum.title, curriculum_path(@section.curriculum) %></span>
  </div>

  <div class="d-flex justify-content-evenly m-2">
    <%= link_to "Details", site_section_path(@site, @section), class: "btn btn-primary" %>
    <%= link_to "Section Participants", site_section_section_participants_path(@site, @section), class: "btn btn-primary" %>
    <%= link_to "Sessions", site_section_sittings_path(@site, @section), class: "btn btn-primary" %>
  </div>
</div>
