<div>

  <p>
    <strong>Site:</strong>
    <%= @section.site.name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @section.name %>
  </p>

  <p>
    <strong>Start Date:</strong>
    <%= @section.start_date %>
  </p>

  <p>
    <strong>End Date:</strong>
    <%= @section.end_date %>
  </p>

  <p>
    <strong>Curriculum:</strong>
    <%= @section.curriculum.title %>
  </p>

  <p>
    <strong>Sessions:</strong>
    <% @section.sittings.kept.order(:done_on).each do |sitting| %>
      <span class="badge text-bg-warning">
        <%= link_to sitting.name, site_section_sitting_path(@site, @section, sitting) %>
      </span>
    <% end %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= @section.progress %>
  </p>

  <p>
    <strong>Entry Completed:</strong>
    <%= @section.completed ? "Yes" : "No" %>
  </p>

</div>
