<p style="color: green"><%= notice %></p>
<h2 class="text-center"><%= @site.name %></h2>

<div class="row">
  <%= render partial: "sites/sidebar", locals: { site: @site } %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5">
    <div class="card main-card">
      <div class="card-header">
        <% content_for :title, "Sections" %>
        <h4>Site Sections</h4>
      </div>
      <div class="card-body">
        <%= search_form_for @query, url: site_sections_path(@site) do |form| %>
        <div class="row m-1">
          <div class="col-lg-3"></div>
          <div class="col-lg-4"><%= form.search_field :name_cont, placeholder: 'Search by name', class: "form-control" %></div>
          <div class="col-lg-2"><%= form.submit class: "btn btn-outline-info" %></div>
          <div class="col-lg-3"></div>
        </div>
        <table id="sections" class="table table-striped">
          <thead>
            <tr>
              <th><%= sort_link(@query, :name) %></th>
              <th>Participants</th>
              <th>Progress</th>
              <th>Attendance</th>
              <th>Entry Completed</th>
            </tr>
          </thead>
          <tbody>
            <% @sections.each do |section| %>
              <tr>
                <td><%= link_to section.short_name, site_section_path(@site, section) %></td>
                <td><%= section.participants.size %></td>
                <td>
                  <div class="progress-bar">
                    <div class="progress-fill" style="width: <%= section.progress_percentage %>%"></div>
                  </div>
                  <%= "#{section.progress_label} (#{section.progress_percentage}%)" %>
                </td>
                <td>
                  <% if section.average_attendance >= 75.0 %>
                    <span class="badge bg-success"><%= section.average_attendance %>% avg</span>
                  <% elsif section.average_attendance >= 50.0 %>
                    <span class="badge bg-warning"><%= section.average_attendance %>% avg</span>
                  <% else %>
                    <span class="badge bg-danger"><%= section.average_attendance %>% avg</span>
                  <% end %>
                </td>
                <td>
                  <% if section.completed? %>
                    <span class="badge bg-success">Yes</span>
                  <% else %>
                    <span class="badge bg-danger">No</span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
      <div class="card-footer">
        <% if policy(Section.new).new? %>
          <div class="d-flex flex-row-reverse">
            <%= link_to "Add new section", new_site_section_path, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </main>
</div>
