<div class="row">
  <%= render partial: "sidebar", locals: {site: @site, section: @section } %>

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h2 class="text-center"><%= link_to @site.name, site_sections_path(@site) %></h2>
    <div class="card">
      <p style="color: green"><%= notice %></p>

      <div class="card-header">
        <h4>Section Details</h4>
      </div>

      <div class="card-body">
        <%= render "section", locals: { section: @section } %>
      </div>

      <div class="m-1 d-flex flex-row-reverse">
        <%= link_to "Edit this section", edit_site_section_path(@site, @section), class: 'btn btn-primary' %>
      </div>
    </div>
  </main>
</div>
