<div class="mb-5">
  <h3 class="text-center"><%= @questionnaire.title.titleize %> Responses</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Session</th>
        <th>Done On</th>
        <th>Done By</th>
        <th>Facilitators</th>
      </tr>
    </thead>
    <tbody>
      <% @responses.each do |response| %>
        <tr scope="row">
          <td><%= response.sitting ? (link_to response.sitting&.name, site_section_sitting_path(response.sitting.site, response.sitting.section, response.sitting)) : '' %></td>
          <td><%= link_to response.created_at.strftime("%F"), questionnaire_response_path(response.questionnaire, response) %></td>
          <td><%= response.user.name if response.user %></td>
          <td><%= response.facilitators.map { |f| f.name }.join(", ") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex flex-row-reverse">
    <% if @sitting %>
      <%= link_to "New response", new_questionnaire_response_path(@questionnaire, sitting_id: @sitting.id), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
