<%= form_with(model: [@questionnaire, response]) do |form| %>
  <% if response.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
        <% response.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :sitting_id, value: params[:sitting_id] %>
  <%= form.hidden_field :user_id, value: Current.user.id %>

  <%= form.fields_for :answers do |response| %>
    <% @activities.each do |activity| %>
      <div data-controller='visibility'>
        <div class="mb-3">
          <h5>
            <%= activity.name %>
            <%= content_tag :abbr, '*', title: 'Required' if @activity_question.required %>
          </h5>
          <% @activity_question.answers.each do |answer| %>
            <p class="ms-2 form-check">
              <%= response.radio_button "#{activity.id}_#{@activity_question.id}", answer.id,
              { required: @activity_question.required,
                class: "form-check-input",
                "data-action": "input->visibility#toggle",
                "data-visibility-answer-number-value": "#{answer.number}" } %>
              <span class="form-check-label"><%= response.label "#{activity.id}_#{@activity_question.id}", answer.text, value: answer.id %></span>
            </p>
          <% end %>
        </div>

        <div class="mb-3" data-visibility-target="deliveryModified" style="display: none;">
          <p class="ms-1">
            <%= @delivery_modified_question.text %>
          </p>
          <p class="ms-2 form-input">
            <%= response.text_area "#{activity.id}_#{@delivery_modified_question.id}", required: @delivery_modified_question.required, class: "form-control" %>
          </p>
        </div>

        <div class="mb-3" data-visibility-target="contentModified" style="display: none;">
          <p class="ms-1"><%= @content_modified_question.text %></p>
          <p class="ms-2 form-input">
            <%= response.text_area "#{activity.id}_#{@content_modified_question.id}", required: @content_modified_question.required, class: "form-control" %>
          </p>
        </div>

        <div class="mb-3" data-visibility-target="notDelivered" style="display: none;">
          <p class="ms-1"><%= @not_delivered_question.text %></p>
          <p class="ms-2 form-input">
            <%= response.text_area "#{activity.id}_#{@not_delivered_question.id}", required: @not_delivered_question.required, class: "form-control" %>
          </p>
        </div>
      </div>
    <% end %>

    <% (@questionnaire.questions - [ @activity_question, @delivery_modified_question, @content_modified_question, @not_delivered_question ]).each do |question| %>
      <div class="mb-3">
        <h5>
          <%= question.number %> ) <%= question.identifier %>
          <%= content_tag :abbr, '*', title: 'Required' if question.required %>
        <h5>

        <p class="ms-1"><%= question.text %></p>

        <% case question.question_type %>
        <% when 'single_choice' %>
          <% question.answers.each do |answer| %>
            <p class="ms-2 form-check">
              <%= response.radio_button question.id, answer.id, { required: question.required, class: "form-check-input" } %>
              <span class="form-check-label"><%= response.label question.id, answer.text, value: answer.id %></span>
            </p>
          <% end %>
        <% when 'multiple_choice' %>
          <% question.answers.each do |answer| %>
            <p class="ms-2 form-check">
              <%= response.check_box question.id, { multiple: true, class: "form-check-input" }, answer.id %>
              <span class="form-check-label"><%= response.label question.id, answer.text, value: answer.id %></span>
            </p>
          <% end %>
        <% when 'long_answer' %>
          <%= response.text_area question.id, required: question.required, class: "form-control" %>
        <% when 'number_answer' %>
          <%= response.number_field question.id, required: question.required, class: "form-control" %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="d-flex flex-row-reverse">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
