<%= form_with(model: [@questionnaire, response]) do |form| %>
  <div data-controller='observation'
       data-observation-url-value="<%= turbo_sections_path %>"
       data-observation-selected-value="<%= response.section_id %>"
       data-observation-url2-value="<%= turbo_sittings_path %>"
       data-observation-selected2-value="<%= response.sitting_id %>">
    <% if response.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

        <ul>
          <% response.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :participant_id, value: params[:participant_id] %>
    <%= form.hidden_field :sitting_id, value: params[:sitting_id] %>

    <%= form.fields_for :answers do |response| %>
    <div class="mb-3">
      <p class="ms-1 form-label"><b>Site Name</b></p>
        <%= response.select :site_id,
          @sites.map { |site| [ site.name, site.id ]},
          { include_blank: true, required: true },
          {
            class: "form-control",
            "data-action": "change->observation#change",
            "data-observation-target": "mainSelect",
          } %>
      </div>
      <div class="mb-3">
        <p class="ms-1 form-label"><b>Section Name</b></p>
        <%= response.select :section_id,
          [],
          { include_blank: true, required: true },
          {
            class: "form-control",
            "data-action": "change->observation#change2",
            "data-observation-target": "secondarySelect",
          } %>
      </div>
      <div class="mb-3">
        <b class="ms-1"><%= response.label :sitting_id, class: "form-label" %></b>
        <%= response.select :sitting_id,
          [],
          { include_blank: true },
          {
            class: "form-control",
            "data-observation-target": "tertiarySelect",
           } %>
      </div>

      <% @questionnaire.questions.each do |question| %>
      <div class="mb-3">
        <h5>
          <%= question.number %> ) <%= question.identifier %>
          <%= content_tag :abbr, '*', title: 'Required' if question.required %>
        <h5>

        <p class="ms-1"><%= raw question.text %></p>

        <% case question.question_type %>
        <% when 'single_choice' %>
          <% question.answers.each do |answer| %>
            <p class="ms-2 form-check">
              <%= response.radio_button question.id, answer.id, { required: question.required, class: "form-check-input" } %>
              <span class="form-check-label"><%= answer.text %></span>
              <span class="ms-2 form-check-label"><%= answer.label %></span>
            </p>
          <% end %>
        <% when 'multiple_choice' %>
          <% question.answers.each do |answer| %>
            <p class="ms-2 form-check">
              <%= response.check_box question.id, { multiple: true, class: "form-check-input" }, answer.id %>
              <span class="form-check-label"><%= answer.text %></span>
            </p>
          <% end %>
        <% when 'long_answer' %>
          <%= response.text_area question.id, required: question.required %>
        <% when 'number_answer' %>
          <%= response.number_field question.id, required: question.required %>
        <% end %>
      </div>
      <hr>
      <% end %>
    <% end %>

    <div class="d-flex flex-row-reverse">
      <%= form.submit class: "btn btn-success" %>
    </div>
  </div>
<% end %>
