<div class="mb-5">
  <h3 class="text-center"><%= @questionnaire.title.titleize %> Responses</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Section</th>
        <th>Session</th>
        <th>Done On</th>
      </tr>
    </thead>
    <tbody>
      <% @responses.each do |response| %>
        <tr scope="row">
          <td><%= response.section&.name %></td>
          <td><%= response.sitting ? (link_to response.sitting&.title, site_section_sitting_path(response.sitting.site, response.sitting.section, response.sitting)) : '' %></td>
          <td><%= link_to response.created_at.strftime("%F"), questionnaire_response_path(response.questionnaire, response) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex flex-row-reverse">
    <%= link_to "New response", new_questionnaire_response_path(@questionnaire), class: "btn btn-primary" %>
  </div>
</div>
