<div class="mb-3">
  <h3 class="text-center">
    New <%= @questionnaire.title.titleize %>
    <% if @participant %>
    for <%= @participant&.name%>
    <% elsif @sitting %>
    for <%= @sitting.title %>
    <% end %>
  </h3>
  <% if @sitting&.fidelity?(@questionnaire) %>
    <%= render "fidelity", response: @response %>
  <% elsif @questionnaire.observation? %>
    <%= render "observation", response: @response %>
  <% else %>
    <%= render "form", response: @response %>
  <% end %>
</div>
