<div class="mb-5">
  <h2 class="text-center"><%= @questionnaire.title.titleize %></h2>

  <% if @response.participant_id %>
    <div class="mb-3">
      <h4>Participant: <%= @response.participant.name %></h4>
    </div>
  <% end %>
  <% if @response.site %>
    <div class="mb-3">
      <h4>Site: <%= @response.site.name %></h4>
    </div>
  <% end %>
  <% if @response.section %>
    <div class="mb-3">
      <h4>Section: <%= @response.section.name %></h4>
    </div>
  <% end %>
  <% if @response.sitting %>
    <div class="mb-3">
      <h4>Session: <%= @response.sitting.title %></h4>
    </div>
  <% end %>

  <% @questionnaire.questions.each do |question| %>
  <div class="mb-3">
    <h4>
      <%= question.number %> ) <%= question.identifier %>
    </h4>
    <div class="ms-2">
      <%= raw question.text %>
    </div>
    <div class="ms-4">
      <strong><em><%= question.question_answer(@response) %></em></strong>
    </div>
  </div>
  <% end %>
</div>
