<div class="mb-3">
  <h3 class="text-center"><%= @questionnaire.title.titleize %></h3>

<% @questionnaire.questions.each do |question| %>
  <div class="mb-3">
    <h4><%= question.number %>) <%= question.identifier %></h4>
    <div class="ms-2">
      <%= sanitize question.text %>
    </div>
    <% case question.question_type %>
    <% when 'single_choice' %>
      <% question.answers.each do |answer| %>
      <div class="ms-4">
        <%= radio_button_tag question.id, answer.id %>
        <span class="form-label ps-2"><%= answer.text %></span>
        <b><span class="ps-2"><%= answer.label %></span></b>
      </div>
      <% end %>
    <% when 'multiple_choice' %>
      <% question.answers.each do |answer| %>
      <div class="ms-4">
        <%= check_box_tag question.id, answer.id, class: "form-check-input" %>
        <span class="form-label"><%= answer.text %></span>
      </div>
      <% end %>
    <% when 'long_answer' %>
      <div class="ms-4">
        <%= text_area_tag question.id %>
      </div>
    <% when 'number_answer' %>
      <div class="ms-4">
        <%= number_field_tag question.id %>
      </div>
    <% end %>
    <div class="ps-4"><%= sanitize question.answer_instructions %></div>
  </div>
<% end %>
</div>
