<%= form_for([@site, @section, @sitting]) do |form| %>
  <% if sitting.errors.any? %>
    <div style="color: red">
      <h4><%= pluralize(sitting.errors.count, "error") %> prohibited this session from being saved:</h4>
      <ul>
        <% sitting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <p class="fw-bold">Please check the participants who are present</p>
    <%= form.fields_for :attendances do |att_field| %>
      <div class="form-check">
        <%= att_field.check_box :present, class: "form-check-input" %>
        <%= att_field.label "#{att_field.object.participant.upcased_name} - #{att_field.object.participant.demo_label}", class: "form-check-label" %>
      </div>
    <% end %>
  </div>

  <div class="d-flex flex-row-reverse">
    <%= submit_tag "Save Attendance", class: 'btn btn-success' %>
  </div>
<% end %>
