<%= form_for([@site, @section, @sitting]) do |form| %>
  <% if sitting.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sitting.errors.count, "error") %> prohibited this sitting from being saved:</h2>

      <ul>
        <% sitting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label "Name", class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Please enter name", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label "Date Administered", class: "form-label" %>
    <%= form.datetime_field :done_on, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :lesson_id, class: "form-label" %>
    <%= form.collection_select :lesson_id, @lessons, :id, :title, { prompt: true, required: true }, { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :completed, class: "form-label" %>
    <%= form.check_box :completed, class: "form-check-input" %>
  </div>

  <div class="mb-3">
    <%= form.label 'Facilitators', class: "form-label" %>
    <%= form.collection_check_boxes(:user_ids, @facilitators, :id, :name) do |b| %>
      <div class="form-check">
        <%= b.check_box(class: "form-check-input") %>
        <%= b.label(class: "form-check-label") %>
      </div>
    <% end %>
  </div>

  <div class="d-flex flex-row-reverse">
    <%= form.submit 'Save', class: 'btn btn-success' %>
  </div>
<% end %>
