<div>
  <p>
    <strong>Name:</strong>
    <%= @sitting.name %>
  </p>

  <p>
    <strong>Done on:</strong>
    <%= @sitting.done_on.strftime("%F %H:%M %p") %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= @sitting.section.name %>
  </p>

  <p>
    <strong>Lessons:</strong>
    <%= @sitting.lessons.map(&:title).join(", ") %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= @sitting.lessons.map(&:duration).join(" + ") %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= @sitting.completed ? "Yes" : "No" %>
  </p>

  <p>
    <strong>Participants present:</strong>
    <%= link_to @sitting.participation, site_section_sitting_attendances_path(@site, @section, @sitting) %>
  </p>

  <p>
    <strong>Facilitators:</strong>
    <%= @sitting.users.map(&:name).join(", ") %>
  </p>
</div>
