<div>
  <p>
    <strong>Name:</strong>
    <%= @sitting.name %>
  </p>

  <p>
    <strong>Done on:</strong>
    <%= @sitting.done_on.strftime("%F %H:%M %p") %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= @sitting.section.name %>
  </p>

  <p>
    <strong>Session Lessons:</strong>
    <% @sitting.sitting_lessons.each do |sitting_lesson| %>
      <span class="badge text-bg-warning">
        <%= link_to sitting_lesson.lesson.title, site_section_sitting_sitting_lesson_path(@site, @section, @sitting, sitting_lesson) %>
      </span>
    <% end %>
  </p>

  <p>
    <strong>Session Attendance:</strong>
    <% @sitting.sitting_lessons.each do |sitting_lesson| %>
      <em><%= "#{sitting_lesson.lesson.title}: " %></em> <%= link_to sitting_lesson.participation, site_section_sitting_sitting_lesson_path(@site, @section, @sitting, sitting_lesson) %>
    <% end %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= @sitting.lessons.map(&:duration).reject(&:blank?).join(" + ") %>
  </p>

  <p>
    <strong>Entry Completed:</strong>
    <%= @sitting.completed ? "Yes" : "No" %>
  </p>

  <p>
    <strong>Fidelity Log ID(s):</strong>
    <% @sitting.filedily_log_responses.each do |log| %>
      <span><%= link_to log.id, questionnaire_response_path(Questionnaire.fidelity&.id, log.id) %></span>
    <% end %>
  </p>

  <p>
    <strong>Program Observation ID(s):</strong>
    <% @sitting.program_observation_responses.each do |log| %>
      <span><%= link_to log.id, questionnaire_response_path(Questionnaire.observation&.id, log.id) %></span>
    <% end %>
  </p>

  <p>
    <strong>Facilitators:</strong>
    <%= @sitting.users.map(&:name).join(", ") %>
  </p>
</div>
