<div class="sitting row border-bottom pb-2 mb-2">

  <div class="col-lg-2">
    <%= form.select :name, (1..30).map { |i| "Session #{i}" }, {}, { class: "form-select" } %>
  </div>

  <div class="col-lg-3">
    <%= form.date_field :done_on, class: "form-control", required: true %>
  </div>

  <div class="col-lg-3">
    <%= form.select :lesson_ids, @lessons.collect {|l| [l.title, l.id]}, {}, { class: "form-select", multiple: true } %>
  </div>

  <div class="col-lg-3">
    <%= form.select :user_ids, @facilitators.collect {|u| [u.name, u.id]}, {}, { class: "form-select", multiple: true } %>
  </div>

  <div class="col-lg-1 d-flex align-items-end">
    <button class="btn btn-danger" type="button" data-action="sittings#remove">Remove</button>
    <%= form.hidden_field :_destroy %>
  </div>

</div>
