<%= render partial: "sections/header", locals: {site: @site, section: @section } %>

<main class="mb-5">
  <div class="card">
    <% if params[:attendance] %>
      <div class="card-header">
        <% content_for :title, "Taking Attendance" %>
        <h4>Taking Attendance For <%= @sitting.name %></h4>
      </div>
      <div class="card-body">
        <%= render "attendance", site: @site, section: @section, sitting: @sitting %>
      </div>
    <% else %>
      <div class="card-header">
        <% content_for :title, "Editing session" %>
        <h4>Editing <%= @sitting.name %></h4>
      </div>
      <div class="card-body">
        <%= render "form", site: @site, section: @section, sitting: @sitting %>
        <div class="d-flex justify-content-start">
          <div>
            <%= link_to "Show this session", site_section_sitting_path(@site, @section, @sitting), class: "btn btn-info" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>
