<%= render partial: "sections/header", locals: {site: @site, section: @section } %>

<main class="mb-5">
  <p style="color: green"><%= notice %></p>
  <div class="card">
    <div class="card-header">
      <% content_for :title, "Sessions" %>
      <h4>Sessions Administered For <%= @section.name %></h4>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Lessons</th>
            <th>Date</th>
            <th>Participants</th>
            <th>Completed</th>
            <th>Facilitators</th>
          </tr>
        </thead>
        <tbody>
          <% @sittings.each do |sitting| %>
            <tr>
              <td><%= link_to sitting.name, site_section_sitting_path(@site, @section, sitting) %></td>
              <td><%= sitting.lessons.map(&:title).join(", ")  %></td>
              <td><%= sitting.done_on.strftime("%F %H:%M %p") %></td>
              <td><%= sitting.participation %></td>
              <td><%= sitting.completed ? "Yes" : "No" %></td>
              <td><%= sitting.users.map(&:name).join(", ") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex flex-row-reverse">
        <span class="m-1"><%= link_to "Add new session", new_site_section_sitting_path(@site, @section), class: "btn btn-primary" %></span>
        <span class="m-1"><%= link_to "Add multiple new sessions", bulk_site_section_sittings_path(@site, @section), class: "btn btn-primary" %></span>
      </div>
    </div>
  </div>
</main>
