<div class="row">
  <%= render partial: "sections/sidebar", locals: { site: @site, section: @section } %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5">
    <h2 class="text-center"><%= link_to @site.name, site_sections_path(@site) %></h2>
    <div class="card">
      <div class="card-header">
        <p style="color: green"><%= notice %></p>
        <% content_for :title, "Sessions" %>
        <h4>Sessions Administered For <%= @section.name %></h4>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Lesson</th>
              <th>Date</th>
              <th>Participants</th>
              <th>Completed</th>
            </tr>
          </thead>
          <tbody>
            <% @sittings.each do |sitting| %>
              <tr>
                <td><%= link_to sitting.lesson.title, site_section_sitting_path(@site, @section, sitting) %></td>
                <td><%= sitting.done_on.strftime("%F %H:%M %p") %></td>
                <td><%= sitting.participation %></td>
                <td><%= sitting.completed ? "Yes" : "No" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="d-flex flex-row-reverse">
          <%= link_to "Start Session", new_site_section_sitting_path(@site, @section), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </main>
</div>
