<%= render partial: "sections/header", locals: {site: @site, section: @section } %>

<main class="mb-5">
  <p style="color: green"><%= notice %></p>
  <div class="card main-card">
    <div class="card-header">
      <h4>Details For <%= @sitting.name %></h4>
    </div>
    <div class="card-body">
      <%= render "sitting", locals: { sitting: @sitting } %>
    </div>
    <div class="card-footer">
      <div class="m-1 d-flex justify-content-between">
        <%= link_to "Back to sessions", site_section_sittings_path(@site, @section), class: 'btn btn-secondary' %>
        <% if policy(@sitting).destroy? %>
          <%= link_to "Delete this session", site_section_sitting_path(@site, @section, @sitting), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this session?" }, class: 'btn btn-danger' %>
        <% end %>
        <% if policy(@sitting).edit? %>
          <%= link_to "Edit this session", edit_site_section_sitting_path(@site, @section, @sitting), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</main>
