<div class="row">
  <%= render partial: "sections/sidebar", locals: { site: @site, section: @section } %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5">
    <h2 class="text-center"><%= link_to @site.name, site_sections_path(@site) %></h2>
    <p style="color: green"><%= notice %></p>
    <div class="card">
      <div class="card-header">
        <h4>Session Details</h4>
      </div>
      <div class="card-body">
        <%= render "sitting", locals: { sitting: @sitting } %>
        <div class="d-flex justify-content-evenly">
          <div>
            <%= link_to "Edit this session", edit_site_section_sitting_path(@site, @section, @sitting), class: 'btn btn-primary' %>
          </div>
          <div>
            <%= button_to "Delete this session", site_section_sitting_path(@site, @section, @sitting), method: :delete, class: 'btn btn-danger' %>
          </div>
        </div>
        <hr>
        <div>
          <h4>Attendance</h4>
          <%= link_to "Take Attendance", edit_site_section_sitting_path(@site, @section, @sitting, attendance: true), class: 'btn btn-primary' %>
        </div>
        <hr>
        <div>
          <h4>Demographics</h4>
          <%= link_to "View Demographics", questionnaire_responses_path(@sitting.demographics_questionnaire, sitting_id: @sitting.id), class: 'btn btn-primary' %>
        </div>
        <hr>
        <div>
          <h4>Fidelity Monitoring</h4>
          <%= link_to "View Logs", questionnaire_responses_path(@sitting.fidelity_monitoring_questionnaire, sitting_id: @sitting.id), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </main>
</div>
