<%= form_with(model: organization) do |form| %>
  <% if organization.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
        <% organization.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Please enter the name of the organization" %>
  </div>

  <div class="mb-3">
    <%= form.label :state, class: "form-label" %>
    <%= form.select :state, STATES, {}, { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :urbanicity, class: "form-label" %>
    <%= form.select :urbanicity, URBANICITIES, {}, { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.label :setting, class: "form-label" %>
    <%= form.select :setting, SETTINGS, {}, { class: "form-select" } %>
  </div>

  <div class="d-flex flex-row-reverse">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
