<div class="mb-5">
  <p style="color: green"><%= notice %></p>
  <h4 class="text-center"><%= @organization.name %></h4>
  <div class="card main-card">
    <div class="card-header">
      <h5>Organization Details</h5>
    </div>

    <div class="card-body">
      <%= render "organization", organization: @organization %>
    </div>

    <div class="card-footer">
      <div class="m-1 d-flex justify-content-between">
        <%= link_to "Back to organizations", organizations_path, class: "btn btn-secondary" %>
        <% if policy(@organization).destroy? %>
          <%= link_to "Delete this organization", @organization, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this organization?" }, class: "btn btn-danger" %>
        <% end %>
        <% if policy(@organization).edit? %>
          <%= link_to "Edit this organization", edit_organization_path(@organization), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>