<%= form_with(model: site) do |form| %>
  <% if site.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
        <% site.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Please enter the name of the site" %>
  </div>

  <div class="mb-3">
    <%= form.label :code, class: "form-label" unless site.new_record? %>
    <%= form.text_field :code, class: "form-control" unless site.new_record? %>
  </div>

  <div class="mb-3">
    <%= form.label :organization, class: "form-label" %>
    <%= form.select :organization_id, Organization.all.collect { |o| [o.name, o.id] }, { include_blank: true, selected: site.organization_id || params[:organization_id] }, { class: "form-select" } %>
  </div>

  <div class="d-flex flex-row-reverse">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
