<div>
  <p>
    <strong>Name:</strong>
    <%= @site.name %>
  </p>

  <p>
    <strong>County:</strong>
    <%= @site.county %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= @site.code %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= link_to @site.organization.name, @site.organization %>
  </p>

  <p>
    <strong>Participants:</strong>
    <%= link_to @site.participants.size, site_site_participants_path(@site) %>
  </p>

  <p>
    <strong>Sections:</strong>
    <%= link_to @site.sections.kept.size, site_sections_path(@site) %>
  </p>

  <p>
    <strong>Facilitators:</strong>
    <%= @site.users.map(&:name).join(", ") %>
  </p>
</div>
