<div id="<%= dom_id site %>">
  <p>
    <strong>Name:</strong>
    <%= site.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= site.code %>
  </p>

  <p>
    <strong>State:</strong>
    <%= site.state %>
  </p>

  <p>
    <strong>County:</strong>
    <%= site.county %>
  </p>

  <p>
    <strong>Urbanicity:</strong>
    <%= site.urbanicity %>
  </p>

  <p>
    <strong>Setting:</strong>
    <%= site.setting %>
  </p>

</div>
