<% content_for :title, "Sites" %>

<div class="mb-5">
    <p style="color: green"><%= notice %></p>
    <h3 class="text-center">My Sites</h3>

  <div class="row">
    <table id="sites" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>State</th>
          <th>County</th>
          <th>Organization</th>
          <th>Urbanicity</th>
          <th>Setting</th>
          <th>Participants</th>
          <th>Sections</th>
        </tr>
      </thead>
      <tbody>
        <% @sites.each do |site| %>
          <tr scope="row">
            <td><%= link_to site.name, site %></td>
            <td><%= site.code %></td>
            <td><%= site.state %></td>
            <td><%= site.county %></td>
            <td><%= site.organization.name %></td>
            <td><%= site.urbanicity %></td>
            <td><%= site.setting %></td>
            <td><%= link_to site.site_participants.size, site_site_participants_path(site) %></td>
            <td><%= link_to site.sections.size, site_sections_path(site) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if policy(Site.new).new? %>
    <div class="d-flex flex-row-reverse">
      <%= link_to "New site", new_site_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
