<div class="mb-5">
  <p style="color: green"><%= notice %></p>
  <h2 class="text-center"><%= @site.name %></h2>

  <div class="row">
    <%= render partial: "sidebar", locals: { site: @site } %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="card">
        <div class="card-header">
          <h4>Site Details</h4>
        </div>

        <div class="card-body">
          <%= render "site", locals: { site: @site } %>
        </div>

        <div class="card-footer">
          <div class="m-1 d-flex justify-content-between">
            <%= link_to "Back to sites", sites_path, class: "btn btn-secondary" %>
            <% if policy(@site).destroy? %>
              <%= link_to "Delete this site", @site, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this site?" }, class: "btn btn-danger" %>
            <% end %>
            <% if policy(@site).edit? %>
              <%= link_to "Edit this site", edit_site_path(@site), class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
