<div class="row">
  <%= render partial: "sections/sidebar", locals: { site: @site, section: @section } %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5">
    <h2 class="text-center"><%= link_to @site.name, site_sections_path(@site) %></h2>
    <p style="color: green"><%= notice %></p>
    <div class="card">
      <div class="card-header">
        <% content_for :title, "Attendances" %>
        <h4>Participant Attendance For <%= @sitting.name %> on <%= @sitting.done_on.strftime("%F %H:%M %p") %></h4>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Sex</th>
              <th>Age</th>
              <th>Present</th>
            </tr>
          </thead>
          <tbody>
            <% @attendances.each do |attendance| %>
              <tr>
                <td><%= link_to attendance.participant.upcased_name, participant_path(attendance.participant) %></td>
                <td><%= attendance.participant.category %></td>
                <td><%= attendance.participant.sex %></td>
                <td><%= attendance.participant.age %></td>
                <td><%= attendance.present? ? "Yes" : "No" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="d-flex flex-row-reverse">
          <%= link_to "Edit Attendance", edit_site_section_sitting_path(@site, @section, @sitting, attendance: true), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </main>
</div>
