<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Engage" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path("favicon.ico") %>
  </head>

  <body>
    <div class="bs-component">
      <% if Rails.application.credentials.config[:TEST_SITE] %>
      <h1 class="text-center bg-warning text-dark">TEST SITE</h1>
      <% end %>
      <nav class="navbar navbar-expand-lg fixed-top bg-primary" data-bs-theme="dark">
        <div class="container-fluid ms-5 me-5">
          <%= link_to image_tag("logo.png"), root_path, class: "navbar-brand" %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarId" aria-controls="navbarId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarId">
            <ul class="navbar-nav me-auto">
              <li class="nav-item me-2 mb-2 mb-lg-0"><%= link_to "Organizations", organizations_path, class: "btn #{'btn-info' if current_page?(organizations_path)} #{'btn-outline-info nav-link px-2' unless current_page?(organizations_path)}" %></li>
              <li class="nav-item me-2 mb-2 mb-lg-0"><%= link_to "Sites", sites_path, class: "btn #{'btn-info' if current_page?(sites_path)} #{'btn-outline-info nav-link px-2' unless current_page?(sites_path)}" %></li>
              <li class="nav-item me-2 mb-2 mb-lg-0"><%= link_to "Participants", participants_path, class: "btn #{'btn-info' if current_page?(participants_path)} #{'btn-outline-info nav-link px-2' unless current_page?(participants_path)}" %></li>
              <% if Current.user&.admin? %>
                <li class="nav-item me-2 mb-2 mb-lg-0"><%= link_to "Exports", data_uploads_path, class: "btn #{'btn-info' if current_page?(data_uploads_path)} #{'btn-outline-info nav-link px-2' unless current_page?(data_uploads_path)}" %></li>
                <li class="nav-item me-2 mb-2 mb-lg-0"><%= link_to "Curriculums", curriculums_path, class: "btn #{'btn-info' if current_page?(curriculums_path)} #{'btn-outline-info nav-link px-2' unless current_page?(curriculums_path)}" %></li>
                <li class="nav-item me-2 mb-2 mb-lg-0"><%= link_to "Forms", questionnaires_path, class: "btn #{'btn-info' if current_page?(questionnaires_path)} #{'btn-outline-info nav-link px-2' unless current_page?(questionnaires_path)}" %></li>
                <li class="nav-item me-2 mb-2 mb-lg-0"><%= link_to "Users", users_path, class: "btn #{'btn-info' if current_page?(users_path)} #{'btn-outline-info nav-link px-2' unless current_page?(users_path)}" %></li>
              <% end %>
              <li class="nav-item me-2 mb-2 mb-lg-0"><a href="https://dukemobiletech.github.io/engage/" target="_blank" class="btn #{'btn-info' if current_page?(manual_path)} #{'btn-outline-info nav-link px-2' unless current_page?(manual_path)}">Manual</a></li>
            </ul>
            <div class="d-flex">
              <% if authenticated? %>
                <span class="me-2 text-light">Welcome <strong><%= Current.user.display_name %></strong>
                  <% Current.user.roles.each do |role| %>
                    <span class="badge bg-warning text-dark ms-1"><%= role.name.capitalize %></span>
                  <% end %>
                </span>
                <%= link_to "Sign Out", session_path, "data-turbo-method": :delete, class: "btn btn-outline-danger" %>
              <% else %>
                <%= link_to "Sign In", new_session_path, class: "btn btn-outline-primary me-2" unless current_page?(new_session_path) %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
