<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Engage" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path("favicon.ico") %>
  </head>

  <body>
    <div class="bs-component">
      <nav class="navbar navbar-expand-lg fixed-top bg-primary" data-bs-theme="dark">
        <div class="container-fluid ms-5 me-5">
          <%= link_to image_tag("logo.png"), root_path, class: "navbar-brand" %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarId" aria-controls="navbarId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarId">
            <ul class="navbar-nav me-auto">
              <li class="nav-item"><%= link_to "Organizations", organizations_path, class: "nav-link px-2 btn btn-outline-info" %></li>
              <li class="nav-item"><%= link_to "Sites", sites_path, class: "nav-link px-2 btn btn-outline-info" %></li>
              <li class="nav-item"><%= link_to "Participants", participants_path, class: "nav-link px-2 btn btn-outline-info" %></li>
              <li class="nav-item"><%= link_to "Exports", data_uploads_path, class: "nav-link px-2 btn btn-outline-info" %></li>
              <li class="nav-item"><%= link_to "Curriculums", curriculums_path, class: "nav-link px-2 btn btn-outline-info" %></li>
              <li class="nav-item"><%= link_to "Forms", questionnaires_path, class: "nav-link px-2 btn btn-outline-info" %></li>
              <li class="nav-item"><%= link_to "Users", users_path, class: "nav-link px-2 btn btn-outline-info" %></li>
              <li class="nav-item"><a href="https://dukemobiletech.github.io/engage/" target="_blank" class="nav-link px-2 btn btn-outline-info">Manual</a></li>
            </ul>
            <div class="d-flex">
              <% if authenticated? %>
                <span class="me-2 text-dark">Welcome, <strong><%= Current.user.name %></strong></span>
                <%= link_to "Sign Out", session_path, "data-turbo-method": :delete, class: "btn btn-link text-danger fw-bold" %>
              <% else %>
                <%= link_to "Sign In", new_session_path, class: "btn btn-outline-primary me-2" unless current_page?(new_session_path) %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
